#background {
	background-color:rgb(199,188,142);
	
}

body {
	text-align:center;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10%;
	width: 60%;
}

.container {
	background-image: url("/images/newForest.png");
	background-size: cover;
	border-radius: 20px;
	
}

/* index only */

.form-label {
	color: rgb(299, 65, 15);
	
}

.link {
	text-decoration: none;
}

#button {
	margin-top: 25px;
	
}

#red {
	font-weight: bold;
}

/* all forms with inputs ( index and login) */

#form {
	width: 100%;
	padding: 20px;
}  

.form-control {
	text-align: center;
	background-color: transparent;
	margin-bottom: 17px;
	
}

 /* trailMap only */
 
 .image {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

.text {
	color: red;
	padding: 30px;
}

/* dataSummary only */

.data {
	color: rgb(299, 65, 15);
	
}

.head {
	color: rgba(169,75,47,255);
	padding-top: 20px;
	margin: 0;
	display: block;
}

#signout {
	margin: 25px;
}

/* LOGIN ONLY */

.box {
	display: flex;
}

.input{
	margin: auto;	
}

#form2 {
	width: 100%;
	padding: 20px;
}  

.title {
	color: rgb(169,75,47,255);
	margin-bottom: 20px;
}

/* Confirmation Page */

.success {
		color: rgb(299, 65, 15);
		padding-top: 20px;
		margin: 0;
		display: block;
}

.list {
	color: white;
	font-size: 17px;
	margin: 0;
	padding: 0;
}

/* Fancy Phrases */

.style {
	font-style: italic;
	color: rgb(21,76,121);
	
}