#background {
	background-color:rgb(199,188,142);
	
}

body {
	text-align:center;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10%;
	width: 60%;
	
}
.form-label {
	color: rgb(226,95,75);
	text-shadow: white .5px .5px;
	
}
#form {
	width: 100%;
	padding: 20px;
}  

.form-control {
	text-align: center;
	background-color: transparent;
	margin-bottom: 20px;
	
}

#button {
	margin-top: 25px;
}

.container {
	background-image: url("/images/abstract-forest.svg");
	border-radius: 20px;
	background-size: cover;
	opacity: .8;
}
