.background {
	background-color:rgb(199,188,142);
}

body {
	text-align:center;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10%;
	width: 60%;
}

.container {
	background-image: url("/images/abstract-forest.svg");
	border-radius: 20px;
	background-size: cover;
}

.image {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

.text {
	color: red;
	padding: 30px;
}